<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <style>
        body,.total_time, .energy, .rep, .rest{
            background-color: rgba(217, 217, 217, 1);
        }
        #next:disabled {
            opacity: 0.5; 
            cursor: not-allowed; 
        }
        #start:disabled {
            opacity: 0.5; 
            cursor: not-allowed; 
        }
        #skip:disabled {
            opacity: 0.5; 
            cursor: not-allowed; 
        }
        .nextVideo{
            width: 48%;
            font-size: 20px;
            font-weight: 600;
        }
        .start{
            width: 100%;
            font-size: 20px;
            font-weight: 600;
        }
        @keyframes shake {
            0%, 100% {
                transform: translateX(0);
            }
            10%, 30%, 50%, 70%, 90% {
                transform: translateX(-5px);
            }
            20%, 40%, 60%, 80% {
                transform: translateX(5px);
            }
        }

        .shake {
            animation: shake 1s;
        }

       

        .progress-bar {
            width: 0;
            height: 16px;
            background-color: #fd0054;
            text-align: center;
            line-height: 30px;
            transition: width 0.5s ease-in-out;
            border-radius: 2px;
        }

        
    </style>
</head>
<body>
<h3 class="spanVideo text-white"><b>OUR EXERCISE</b></h3>

    <div class="row gap-5">
        <div class="col-lg-9 col-12 m-0 px-2 rounded-2" id="carouselExampleControls" class="carousel slide" data-ride="false" data-keyboard=true>
            <div class="carousel-inner w-100 mx-4">
                {{#each videos}}
                <div class="carousel-item active col-lg-12 col-12 mx-1">
                    <iframe class="video" id="video" width="1000" height="600" src="https://www.youtube.com/embed/{{this.videoId}}" data-rep="{{this.rep}}" data-calo="{{this.caloriesAmount}}" data-duration="{{this.duration}}" data-index="{{@index}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="operation col-lg-2 col-12 my-lg-3 p-1 bg-light rounded-2">
            <div class="total_time rounded-2 m-2 mt-1 p-2 d-flex justify-content-between align-items-center">
                <h3 class="m-0">Time: </h3>
                <h4 class="m-0" id="time_start">00:00</h4>
            </div>
            <div class="energy rounded-2 m-2 mt-1 p-2 d-flex justify-content-between align-items-center">
                <h3 class="m-0">Energy: </h3>
                <h4 class="m-0" id="calories">0</h4>
            </div>
            <div class="rep rounded-2 m-2 mt-1 mb-1 p-2 d-flex justify-content-between align-items-center">
                <h3 class="m-0">Rep: </h3>
                <h4 class="m-0" id="rep">15</h4>
            </div>
            <div class="timer rounded-2 m-2 mt-0 p-2 ">
                <p class="m-0 text-center pb-0 mb-1" style="font-size: 30px; font-weight: 600;">Timer </p>
                <p class="m-0 text-center pt-5 pb-5 " id="timer" style="font-size: 45px; font-weight: 600">00 : 35</p>
            </div>
            <div class="progress rounded-2 m-2 mt-1 p-0">
                <div class="progress-bar bg-danger p-0" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="myBar"></div>
            </div>
            <div class="rest rounded-2 m-2 mt-1 p-2 d-flex justify-content-between align-items-center">
                <h3 class="m-0">Rest:  </h3>
                <h4 class="m-0" id="rest">00 : 00</h4>
            </div>
            <div class="start_button rounded-2 p-2 d-flex justify-content-between align-items-center">
                <button class="start bg-danger text-light border-0 rounded-2 py-2 py-1" onclick="runProgressBar()" disabled id="start">Start</button>
            </div>
            <div class="buttons p-2 d-flex flex-row justify-content-between">
                <button class=" nextVideo bg-danger text-light border-0 rounded-2 px-2 py-1" id="skip" onclick=""   data-slide="next">Back </button>
                <button class=" nextVideo bg-danger text-light border-0 rounded-2 px-2 py-1" disabled id="next"  onclick=""  data-slide="next">Next </button>
            </div>

        </div>
    </div>

    <script src="./js/videoCarousel.js"></script> 

</body>
</html>
